* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
}
.site {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 7vh 7vh 20vh 300px 300px;
  /* grid-auto-rows: 200px; */
  grid-gap: 5px;
}
.header1 {
  background-color: blueviolet;
  grid-column: 1/-1;
}
.header2 {
  background-color: red;
  grid-column: 1/-1;
}
section {
  background-color: rgba(0, 179, 255);
  grid-column: 1/-1;
}
.card {
  background-color: darkgreen;
}
