* {
  margin: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Courier New", Courier, monospace; */
}
.site {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 7vh 7vh 20vh 300px 300px;
  /* grid-auto-rows: 200px; */
  grid-gap: 5px;
}
.header1 {
  background-color: blueviolet;
  grid-column: 1/-1;
}
.header2 {
  background-color: red;
  grid-column: 1/-1;
}
section {
  background-image: url("https://www.mancity.com/meta/media/byld3srp/men-pl-mobile.png?width=968&height=545&mode=crop");
  background-repeat: no-repeat;
  background-size: 100%;
  grid-column: 1/-1;
}
.card {
  background-color: rgb(248, 9, 9);
}
