* {
  margin: 0px;
  box-sizing: border-box;
}
.main {
  background-color: aquamarine;
  width: 600px;
  height: 250px;
}
.main + p {
  background-color: blueviolet;
}
/* + se primenjuje na prvi HTML element nakon odredjenog  .main .*/

.main > p {
  background-color: brown;
}
/* > p se odnosi na onaj paragraf koji je direktno child od odredjenog taga .main */
